body {
	background-color: #FFC4C4;
}

h1 {
	color: white;
	font-family: American Typewriter , sans-serif;
}

p {
	color: black;
	font-family: American Typewriter , sans-serif;
	width:80%;
}

img {
  width: 200px;
  display: block;
  margin: auto;
}

.field{
	color: black;
	font-family: American Typewriter , sans-serif;
	margin:auto;
	width:80%;
}

.corps{
margin:auto;
width:80%;
color: black;
font-family: American Typewriter , sans-serif;
}


