<!doctype html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Love at first Site</title>
		<link rel="stylesheet" href="../static/style-moi.css">
	</head>


	<body>
	<center><h1>Connexion</h1></center>
		<center><p>S'il vous plaît entrez votre nom d'utilisateur:</p>
				<form method="POST">
				  <div class="field">
					<label class="label">Username</label>
					<div class="control has-icons-left has-icons-right">
					  <input class="input" type="text" name="username" placeholder="Username">
					  <span class="icon is-small is-left">
						<i class="fas fa-user"></i>
					  </span>
					</div>
				  </div>
				  <div class="field">
					<label class="label">Password</label>
					<p class="control has-icons-left">
					  <input class="input" type="password" name="password" placeholder="Password">
					  <span class="icon is-small is-left">
						<i class="fas fa-lock"></i>
					  </span>
					</p>
				  </div>
				  <div class="field">
					<p class="control">
					  <button type="submit" class="button">
						Login
					  </button>
					  <p>Vous n'avez pas de compte ? Abonnez-vous !</p>
					  <button type="submit" class="button">
						Abonner
					  </button>
					</p>
				  </div>
				</form>
		</center>
	</body>

</html>
